@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card {
    background-color: whitesmoke;
    width: 100px;
    height: 150px;
    margin: 0px 5px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 20pt;
}

.card-top {
    align-self: flex-start;
}

.card-middle {
    font-size: 40pt;
}

.hearts, .diamonds {
    color: red;
}

.clubs, .spades {
    color: black;
}

.card-bottom {
    transform: rotate(180deg);
    align-self: flex-end;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: white;
    font-family: 'Fascinate Inline', cursive;
}

.score {
    font-size: 14pt;
}

.hand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#controls button {
    margin: 10px;
    width: 100px;
    height: 30px;
}

footer {
    margin: 5% auto;
    color: lightgray;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}


#gameover {
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: blue;
}

.hidden {
    visibility: hidden;
}
